<div class="container">
	<h1>Budget</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Cost</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="projectItem.itemName"></td>
				<td><input class="form-control" ng-model="projectItem.quantity"></td>
				<td><input class="form-control" ng-model="projectItem.cost"></td>
				<td><input class="form-control" ng-model="projectItem.description"></td>
				<td><button class="btn btn-primary" ng-click="addItem()">Add Item</button></td>
				<!-- <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;</td>
				<td><button class="btn btn-info" ng-click="deselect()">Clear</button></td> -->
			</tr>
			<tr ng-repeat="item in projectItems">
				<td>{{item.itemName}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.cost}}</td>
				<td>{{item.description}}
				<td><button class="btn btn-danger" ng-click="remove(item._id)">Remove</button></td>
				<td><button class="btn btn-warning" ng-click="edit(item._id)">Edit</button></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary" ng-click="completeApplication">Submit</button>
</div>